@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
:root {
    --cor1: #E3EED4;
    --cor2: #AEC3B0;
    --cor3: #6B9071;
    --cor4: #375534;
    --cor5: #0F2A1D;
}
body {
    background-color: var(--cor1);
}
main {
    background-color: var(--cor2);
    width: 80%;
    text-align: center;
    margin: auto;
}
